<!-- 
GROUP 3 PROJECT
Date: 11-12-2023
 --> 
     <main class="container" style="background-color: lightgray;">
      <main class="custom-container">
        <!-- Add this CSS block within the <style> tag in your HTML or in an external CSS file -->
    
        <style>
                       
            .container {
          max-width: 1000px; /* Adjust the width as needed */
          margin: 0 auto; /* Center the container on the page */
       
          padding: 20px; /* Add some padding for spacing */
          
            }
        </style>
      <h2><span lang="en-ca">Group Members</span></h2>
     <p>Gian Paulo Desiderio, currently enrolled in my third semester of the Software Engineering Technician program at Centennial College.</p>
      
       <p>Ugyen Thinley, currently enrolled in my third semester of the Software Engineering Technician </p>

        <p>Md Ripon Hossain, currently enrolled in my third semester of the Software Engineering Technician </p>

          <p>wsiu11(301272297) , currently enrolled in my third semester of the Software Engineering Technician program at Centennial College. </p>

            <p>Jaspreet kaur, currently enrolled in my third semester of the Software Engineering Technician program at Centennial College.</p>

              <p>Huy Lai, currently enrolled in my third semester of the Software Engineering Technician program at Centennial College.</p>
       
       <a href="Assets/images/resume.pdf" class="btn btn-primary">Download Group 3 Contract Here!(PDF)</a>           
        <aside>
            <figure style="text-align: center;">
              <img src="Assets/images/incidentmgt.jpg" width="600" height="400" alt="gianphoto" style="display: block; margin: 0 auto;">          
              <br>Render link:  <a href="https://comp229-group3-project.onrender.com">https://comp229-group3-project.onrender.com</a>
              <br>Github link: <a href="https://github.com/COMP229TEAM3/COMP229-GROUP3.git">https://github.com/COMP229TEAM3/COMP229-GROUP3.git</a>
            </figure>
         
            </aside> 
              <footer style="text-align: center;">
                Copyright &copy; 2023
                  </footer>

 </body>
 </html>