
<!-- 
GROUP 3 PROJECT
Date: 11-12-2023
 -->
 <link href="Styles.css" rel="stylesheet" type="text/css">
<div class="home"></div>
<main class="container" style="background-color: transparent;">
  <div class="home-welcome"><h1>INCIDENT SURVEY MANGEMENT</h1></div>
  <h2><span lang="en-ca">Mission Statement</span></h2>
   <p>“This is log incidents and record, primary functions ADD, EDIT, REMOVE incidents.”</p>
   <h2><span lang="en-ca">GROUP 3 INCIDENT MANAGEMENT SURVEY</span></h2>
   <p>What is the process description of incident management?
    Incident management is the process of detecting, investigating, and responding to incidents in as little time as possible. While it doesn't always lead to a permanent solution, incident management is important in order to finish projects on time, or as close to the set deadline as possible.</p>

<a class="btn btn-primary home-about-btn" href="/about" role="button">MORE INFO ON OUR PROJECT HERE!</a>
<br><br>
</main>
</div>
